.blog-layout .blog-content .blog-posts .col-post {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 8px;
}

.post_content .coll-r {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 0;
}


/* .blog-layout .blog-content .blog-posts .col-post:not(.col-first):not(.i-2):not(.i-3):not(.i-4):not(.i-5) .post_item .post_content {
    padding-left: 16px;
} */