.container-fluid {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.product-info .product-name {
    margin-bottom: 8px;
}

.product-info .product-name h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.product-info .product-price span.pro-price {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: #E30019;
}

.product-info .product-price del {
    font-size: 18px;
    line-height: 22px;
    color: #6D6E72;
    margin: 0 0 0 12px;
    font-weight: 400;
}

.info-content {
    width: 100%;
}

@media (min-width: 1200px) {
    .product-layout .product-info {
        -ms-flex: 0 0 65%;
        flex: 0 0 65%;
        max-width: 65%;
    }
}